@use "../global.scss" as *;
@use "../partials/mixin" as *;

// Font Sizes
// 60px
$fontsize-lg: 3.75rem;
// 36px
$fontsize-med: 2.25rem;
// 24px
$fontsize-sml: 1.5rem;
// 14px
$fontsize-xtasml: 0.875rem;
// 13px
$fontsize-xxtasml: 0.8125rem;
// 12px
$fontsize-xxxtasml: 0.75rem;
// 10px
$fontsize-xxxxtasml: 0.625rem;

// Line Heights
$lineheight-lg: 68px;
$lineheight-medlrg: 44px;
$lineheight-med: 32px;
$lineheight-smlmed: 22px;
$lineheight-sml: 20px;
$lineheight-xsmal: 18px;

// Font Weights
$fontweight-bold: 700;
$fontweight-demi: 600;
$fontweight-reg: 400;

// Font Style
$fontstyle-reg: avenir-next-regular;
$fontstyle-italic: avenir-next-demi;
$fontstyle-bold: avenir-next-bold;

// Colors
$bandsite-black: #000000;
$bandsite-silver: #afafaf;
$bandsite-white: #ffffff;
$bandsite-dark_black: #323232;
$banksiee-mercury: #e1e1e1;
$bandsite-alabaster: #fafafa;

// Padding
$padding-xxlg: 80px;
$padding-xl: 64px;
$padding-lg: 56px;
$padding-medlg: 48px;
$padding-med: 40px;
$padding-smlmed: 32px;
$padding-sml: 24px;
$padding-xsml: 16px;
$padding-xxsml: 8px;
$padding-xxxsml: 4;

// Margins
$margin-sml: 16px;
$margin-lrg: 24px;

// Photo Gallary Heights
$tablet-image-height: 15vh;
$tablet-image-width: 25vh;
$desktop-image-height: 20vh;
$desktop-image-width: 35vh;
