@media (min-width: 320px) {
  .section1 {
    width: 100vw;
  }

  .header {
    background-color: #000000;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .header__items {
    display: flex;
    justify-content: space-evenly;
  }
  .header__item {
    color: #ffffff;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .header__item--border {
    border-bottom: 3px solid white;
    color: #ffffff;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .header__logo__header--item {
    display: none;
  }
  .header--title {
    color: #ffffff;
    font-size: 3.75rem;
    padding-left: 25%;
    padding-right: 25%;
  }
  .header__logo {
    margin: 16px;
  }
}
.hero {
  width: 100vw;
  height: auto;
  margin-bottom: 24px;
}
.hero__image {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__image--bandname {
  color: #ffffff;
  padding-left: 16px;
}

.allabout {
  padding: 16px;
}

.imageandabout {
  width: 100%;
  height: 50%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16px;
}
.imageandabout__image {
  background-image: url(../assets/Images/band.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  margin-bottom: 16px;
}
.imageandabout__summary {
  font-size: 0.875rem;
  margin-bottom: 16px;
}
.imageandabout__quote {
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 16px;
}
.imageandabout__title {
  margin-bottom: 16px;
}
.imageandabout__writeup {
  margin-bottom: 16px;
  font-size: 0.8125rem;
}

.photogall {
  width: 100%;
  background-color: #fafafa;
}
.photogall__image1 {
  background-image: url(../assets/Images/Photo-gallery-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin: 16px 0px 16px 0;
}
.photogall__image2 {
  background-image: url(../assets/Images/Photo-gallery-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin: 16px 0px 16px 0;
}
.photogall__image3 {
  background-image: url(../assets/Images/Photo-gallery-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin: 16px 0px 16px 0;
}
.photogall__image4 {
  background-image: url(../assets/Images/Photo-gallery-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin: 16px 0px 16px 0;
}
.photogall__image5 {
  background-image: url(../assets/Images/Photo-gallery-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin: 16px 0px 16px 0;
}
.photogall__image6 {
  background-image: url(../assets/Images/Photo-gallery-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin: 16px 0px 16px 0;
}
.photogall__image7 {
  background-image: url(../assets/Images/Photo-gallery-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin: 16px 0px 16px 0;
}
.photogall__image8 {
  background-image: url(../assets/Images/Photo-gallery-8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin: 16px 0px 16px 0;
}
.photogall__image9 {
  background-image: url(../assets/Images/Photo-gallery-9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin: 16px 0px 16px 0;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 16px;
}
.footer__copyright {
  font-size: 0.8125rem;
  padding-top: 16px;
}
.footer__logo1 {
  visibility: hidden;
}
.footer__title {
  margin: 16px 0 16px 0;
}

.social {
  display: flex;
}
.social__image {
  width: 15px;
  height: 15px;
  padding: 5px;
}

.contact {
  color: #ffffff;
  font-size: 0.8125rem;
  padding: 16px 0 16px 0;
}
.contact__info {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
.contact__info--name-job {
  font-weight: 700;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .section1 {
    width: 100vw;
  }

  .header {
    background-color: #000000;
    width: 100%;
    height: auto;
    display: flex;
  }
  .header__items {
    justify-content: flex-start;
  }
  .header__logo {
    display: none;
  }
  .header__item {
    color: #ffffff;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .header__logo__header--item {
    border-style: solid;
    border-color: white;
    margin: 10px 50px 0 50px;
  }
  .header--title {
    color: #ffffff;
    font-size: 3.75rem;
    padding-left: 25%;
    padding-right: 25%;
  }

  .photogall {
    width: 100vw;
    background-color: #fafafa;
    margin: 24px;
  }
  .photogall__title {
    font-size: 3.75rem;
  }
  .photogall__images {
    display: flex;
    flex-wrap: wrap;
  }
  .photogall__image1 {
    background-image: url(../assets/Images/Photo-gallery-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 375px;
    margin: 16px 32px 16px 0;
  }
  .photogall__image2 {
    background-image: url(../assets/Images/Photo-gallery-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 375px;
    margin: 16px 32px 16px 0;
  }
  .photogall__image3 {
    background-image: url(../assets/Images/Photo-gallery-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 375px;
    margin: 16px 32px 16px 0;
  }
  .photogall__image4 {
    background-image: url(../assets/Images/Photo-gallery-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 375px;
    margin: 16px 32px 16px 0;
  }
  .photogall__image5 {
    background-image: url(../assets/Images/Photo-gallery-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 375px;
    margin: 16px 32px 16px 0;
  }
  .photogall__image6 {
    background-image: url(../assets/Images/Photo-gallery-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 375px;
    margin: 16px 32px 16px 0;
  }
  .photogall__image7 {
    background-image: url(../assets/Images/Photo-gallery-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 375px;
    margin: 16px 32px 16px 0;
  }
  .photogall__image8 {
    background-image: url(../assets/Images/Photo-gallery-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 375px;
    margin: 16px 32px 16px 0;
  }
  .photogall__image9 {
    background-image: url(../assets/Images/Photo-gallery-9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 375px;
    margin: 16px 32px 16px 0;
  }

  .hero {
    width: 100vw;
    height: auto;
    margin-bottom: 24px;
  }
  .hero__image {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero__image--bandname {
    color: #ffffff;
    padding-left: 30px;
    font-size: 100px;
  }

  .allabout {
    padding: 16px;
  }
  .allabout__title {
    font-size: 3.75rem;
    padding-left: 56px;
  }

  .imageandabout {
    width: 100%;
    height: 2000px;
    margin-top: 16px;
  }
  .imageandabout__image {
    background-image: url(../assets/Images/band.jpg);
    background-size: cover;
    width: 75%;
    height: 75%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .imageandabout__summary {
    font-size: 3.75rem;
    margin-bottom: 16px;
  }
  .imageandabout__quote {
    font-size: 2.25rem;
    font-style: italic;
    margin-bottom: 16px;
  }
  .imageandabout__title {
    margin-bottom: 24px;
    font-size: 2.25rem;
    margin-top: 24px;
    padding-left: 52px;
  }
  .imageandabout__writeup {
    margin: 16px;
    line-height: 50px;
    height: 1000px;
  }
  .imageandabout__paragraphs {
    display: flex;
    font-size: 2.25rem;
    padding: 40px;
  }

  .footer {
    background-color: #000000;
    color: #ffffff;
    padding: 16px;
    height: 500px;
  }
  .footer__copyright {
    font-size: 1.5rem;
    padding-top: 16px;
  }
  .footer__head {
    display: flex;
  }
  .footer__title {
    font-size: 3.75rem;
  }
  .footer__logo {
    visibility: hidden;
  }
  .footer__logo1 {
    margin-left: auto;
    padding-right: 50px;
  }

  .social {
    display: flex;
  }
  .social__image {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 10px;
  }

  .contact {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 16px 0 16px 0;
    display: flex;
  }
  .contact__info {
    display: flex;
    padding: 16px;
    border-color: white;
    width: 400px;
    height: 200px;
  }
  .contact__details {
    padding-bottom: 40px;
  }
  .contact--name-job {
    font-weight: 700;
    padding-bottom: 16px;
  }
}/*# sourceMappingURL=bio.css.map */