@use "partials/variables" as *;
@use "partials/mixin" as *;

@media (min-width: 320px) {
  .section1 {
    width: 100vw;
  }

  .header {
    background-color: $bandsite-dark_black;
    width: 100%;
    height: 82px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    &__logo2 {
      display: visable;
    }
    &__items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__item {
      color: $bandsite-white;
      padding: 1rem;
      font-size: $fontsize-sml;
      // border: 3px solid white;
      font-size: $fontsize-sml;
    }
    &__links {
      display: flex;
      justify-content: space-evenly;
      // border-style: solid;
      // border-color: red;
      width: 320px;
      &--styles {
        text-decoration: none;
      }
      &--logo {
        display: flex;
        align-items: center;
      }
    }
    &__item--border {
      color: $bandsite-white;
      padding: 1rem;
      font-size: $fontsize-sml;
      border-bottom: 3px solid white;
      font-size: $fontsize-sml;
    }
  }
  // padding-left: 20%;

  .hero {
    width: 100vw;
    height: auto;
    margin-bottom: 24px;
    &__image {
      background-image: url(../assets/Images/hero-bio.jpg);
      background-size: cover;
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 12px;
      &--bandname {
        color: $bandsite-white;
        padding-left: 16px;
      }
    }
  }

  .allabout {
    padding: 0 0 0 0;
    &__title {
      padding: 12px;
      padding-left: 15px;
    }
  }

  .imageandabout {
    // border-style: solid;
    width: 100%;
    height: 75%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: $margin-sml;

    &__summary {
      font-size: $fontsize-xtasml;
      margin-bottom: $margin-sml;
      width: 90vw;
    }
    &__quote {
      font-size: $fontsize-xtasml;
      font-style: $fontstyle-italic;
      margin-bottom: $margin-sml;
      margin-right: auto;
      margin-left: 1rem;
    }
    &__title {
      margin-top: 3rem;
      margin-right: auto;
      margin-left: 1rem;
    }
    &__writeup {
      margin-bottom: $margin-sml;
      font-size: $fontsize-xxtasml;
      line-height: $lineheight-sml;
    }
    &__paragraphs {
      // display: flex;
      margin: 1rem;
    }
  }

  .photogall {
    background-color: #fafafa;
    &__title {
      margin-left: 25px;
    }
    &__images {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__image {
      padding: 1rem;
      width: 90%;
    }
  }

  .comments {
    display: flex;
    border-bottom: solid 1px $bandsite-silver;
    &__form {
      display: flex;
      flex-direction: column;
    }
    &__selfie {
      position: relative;
      top: 35px;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }
  }

  button {
    width: 16.1rem;
    background-color: $bandsite-dark_black;
    margin: 1rem 0 1rem 0;
    color: $bandsite-white;
  }

  .comment-display {
    padding-left: 0.5rem;
    &--orientation {
      display: flex;
      justify-content: space-between;
    }
    &--name {
      padding: 0.5rem;
      font-weight: bold;
    }
    &--date {
      padding: 0.5rem;
      color: $bandsite-silver;
    }
    &--comment {
      padding: 0.5rem;
      border-bottom: solid $bandsite-silver 1px;
    }
  }

  .newComment__name {
    padding: 0.5rem;
    font-weight: bold;
  }

  .newComment__date {
    padding: 0.5rem;
    color: $bandsite-silver;
  }

  .newComment__comment {
    padding: 0.5rem;
    border-bottom: solid $bandsite-silver 1px;
  }

  .commentform__contents {
    padding-left: 20px;
    color: $bandsite-silver;
    padding: 1rem;
    font-size: $fontsize-xxxtasml;

    &--alignment {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  input {
    width: 80vw;
    height: 2rem;
  }

  .footer {
    background-color: $bandsite-dark_black;
    color: $bandsite-white;
    padding: $padding-xsml;
    &__copyright {
      font-size: $fontsize-xxtasml;
      padding-top: $padding-xsml;
    }
    &__logo1 {
      display: none;
    }
    &__title {
      margin: $margin-sml 0 $margin-sml 0;
    }
  }

  .social {
    display: flex;
    &__image {
      width: 15px;
      height: 15px;
      padding: 5px;
    }
  }

  .contact {
    color: $bandsite-white;
    font-size: $fontsize-xxtasml;
    padding: $padding-xsml 0 $padding-xsml 0;
    &__info {
      display: flex;
      flex-direction: column;
      padding-bottom: $padding-xsml;
      &--name-job {
        font-weight: $fontweight-bold;
        padding-bottom: $padding-xsml;
      }
    }
    &__list {
      list-style: none;
      &--copyright {
        list-style: none;
      }
    }
  }
}

// This above is the terminator for tablet

@media (min-width: 768px) {
  h3 {
    padding-left: 5rem;
    font-size: 2rem;
  }

  .section1 {
    width: 100vw;
  }
  .header {
    background-color: $bandsite-dark_black;
    width: 100%;
    height: auto;
    display: flex;
    // justify-content: flex-start;
    &__items {
      display: flex;
      justify-content: flex-start;
      margin-left: 10vw;
    }
    &__logo2 {
      padding-right: 16px;
    }

    &__item {
      color: $bandsite-white;
      padding: 1rem;
      font-size: $fontsize-sml;
      // padding-left: 20%;
    }
    &__links--logo {
      display: flex;
      align-items: center;
    }
    &--title {
      color: $bandsite-white;
      font-size: $fontsize-lg;
      padding-left: 25%;
      padding-right: 25%;
    }
  }
  .photogall {
    width: 100vw;
    background-color: #fafafa;
    margin: $margin-lrg;
    &__title {
      font-size: $fontsize-med;
      padding: $padding-sml 0 $padding-sml 0;
    }
    &__images {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: $padding-sml 0 $padding-sml 0;
    }
    &__image {
      padding: 1rem;
      width: 25%;
    }
  }

  .comments {
    display: flex;
    border-bottom: solid 1px $bandsite-silver;
    margin: 0 5rem 0 5rem;
    &__form {
      display: flex;
      flex-direction: column;
    }
    &__selfie {
      position: relative;
      top: 35px;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }
  }

  .comment-display {
    padding-left: 0.5rem;
    &--orientation {
      display: flex;
      justify-content: space-between;
    }
    &--name {
      padding-left: 6rem;
      font-weight: bold;
    }
    &--date {
      padding-right: 6rem;
      color: $bandsite-silver;
    }
    &--comment {
      margin: 0 6rem 0 6rem;
      border-bottom: solid $bandsite-silver 1px;
    }
  }

  .newComment__name {
    padding-left: 6rem;
    font-weight: bold;
  }

  .newComment__date {
    padding-right: 6rem;
    color: $bandsite-silver;
  }

  .newComment__comment {
    padding: 0.5rem;
    border-bottom: solid $bandsite-silver 1px;
  }

  .commentform__contents {
    padding-left: 20px;
    color: $bandsite-silver;
    padding: 1rem;
    font-size: $fontsize-xxxtasml;

    &--alignment {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  input {
    width: 70vw;
    height: 2rem;
  }

  button {
    width: 8rem;
    background-color: $bandsite-dark_black;
    margin: 1rem 0 1rem 75%;
    color: $bandsite-white;
    border-radius: 10%;
  }

  .hero {
    width: 100vw;
    height: auto;
    margin-bottom: 24px;
    &__image {
      background-image: url(../assets/Images/hero-bio.jpg);
      background-size: cover;
      width: 100%;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &--bandname {
        color: $bandsite-white;
        padding-left: 30px;
        font-size: $fontsize-lg;
      }
    }
  }
  .allabout {
    // border-style: solid;
    padding: $padding-xsml;
    margin: 0 $margin-lrg 0 $margin-lrg;
    &__title {
      font-size: $fontsize-med;
      padding-left: $padding-lg;
    }
  }
  .imageandabout {
    // border-style: solid;
    width: 100%;
    height: 1000px;
    margin-top: 16px;
    // display: flex;
    // flex-direction: column;
    // align-content: center;
    // margin-right: $margin-sml;
    &__image {
      background-image: url(../assets/Images/band.jpg);
      background-size: cover;
      width: 75%;
      height: 75%;
      margin-bottom: $margin-sml;
      margin-left: auto;
      margin-right: auto;
    }
    &__summary {
      font-size: $fontsize-sml;
      font-weight: $fontweight-demi;
      margin-bottom: $margin-sml;
      // border-style: solid;
      width: 65vw;
    }
    &__quote {
      font-size: $fontsize-xtasml;
      font-style: $fontstyle-italic;
      font-weight: $fontweight-demi;
      // border-style: solid;
      width: 72vw;
      margin-bottom: $margin-sml;
      margin-left: 5.5rem;
    }
    &__title {
      margin-bottom: $margin-sml;
      font-size: $fontsize-sml;
      margin-top: $margin-sml;
      padding-left: 70px;
    }
    &__writeup {
      margin: 0 $margin-sml $margin-sml $margin-sml;
      // border-style: solid;
      line-height: 25px;
      height: 300px;
    }
    &__paragraphs {
      display: flex;
      font-size: $fontsize-med;
      padding: 0 50px $padding-sml 50px;
    }
  }
  .footer {
    background-color: $bandsite-dark_black;
    color: $bandsite-white;
    padding: $padding-xsml;
    height: 400px;
    &__copyright {
      font-size: $fontsize-xtasml;
      padding-top: $padding-xsml;
    }
    &__head {
      display: flex;
    }
    &__title {
      font-size: $fontsize-med;
      margin-left: 2vw;
    }
    &__logo {
      display: visable;
      position: relative;
      left: 69%;
      bottom: 77%;
    }
    &__logo1 {
      display: visable;
    }
  }
  .social {
    display: flex;
    // border-style: solid;
    // border-color: white;
    padding-top: 20px;
    margin-left: 45px;
    &__image {
      width: 20px;
      height: 20px;
    }
  }
  .contact {
    color: $bandsite-white;
    padding: $padding-xsml 0 $padding-xsml 0;
    display: flex;
    &__list {
      list-style: none;
      &--copyright {
        margin-left: vw;
        list-style: none;
      }
    }
    &__info {
      font-size: $fontsize-xtasml;
      display: flex;
      // flex-direction: column;
      padding: $padding-xsml;
      // border-style: solid;
      border-color: white;
      width: 400px;
      height: 200px;
    }
    &__details {
      padding-bottom: $padding-med;
      font-size: $fontsize-xtasml;
    }
    &--name-job {
      font-weight: $fontweight-bold;
      padding-bottom: $padding-xsml;
      font-size: $fontsize-sml;
    }
  }
}
// This above is the terminator for tablet

@media (min-width: 1279px) {
  .header3 {
    padding-left: 9rem;
  }

  .section1 {
    width: 100vw;
  }
  .header {
    background-color: $bandsite-dark_black;
    width: 100%;
    height: auto;
    display: flex;
    // justify-content: flex-start;
    &__items {
      display: flex;
      justify-content: flex-start;
      margin-left: 10vw;
    }
    &__logo2 {
      padding-right: 16px;
    }

    &__item {
      color: $bandsite-white;
      padding: 1rem;
      font-size: $fontsize-sml;
      // padding-left: 20%;
    }
    &--title {
      color: $bandsite-white;
      font-size: $fontsize-lg;
      padding-left: 25%;
      padding-right: 25%;
    }
    &__links {
      &--styles {
        text-decoration: none;
      }
    }
  }
  .photogall {
    width: 100vw;
    background-color: #fafafa;
    margin: $margin-lrg;
    &__title {
      font-size: $fontsize-med;
      padding: $padding-sml 0 $padding-sml 0;
      margin-left: 8rem;
    }
    &__images {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding: $padding-xsml 0 $padding-xsml 0;
    }
  }
  .comments {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px $bandsite-silver;
    margin: 0 27rem 0 21rem;
    &__form {
      display: flex;
      flex-direction: column;
    }
    &__selfie {
      position: relative;
      top: 35px;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }
  }

  .comment-display {
    padding-left: 0.5rem;
    &--orientation {
      display: flex;
      justify-content: space-between;
    }
    &--name {
      padding-left: 21rem;
      font-weight: bold;
    }
    &--date {
      padding-right: 27rem;
      color: $bandsite-silver;
    }
    &--comment {
      margin: 0 27rem 0 21rem;
      border-bottom: solid $bandsite-silver 1px;
    }
  }

  .newComment__name {
    padding-left: 21rem;
    font-weight: bold;
  }

  .newComment__date {
    padding-right: 27rem;
    color: $bandsite-silver;
  }

  .newComment__comment {
    margin: 0 27rem 0 21rem;
    border-bottom: solid $bandsite-silver 1px;
  }

  .commentform__contents {
    padding-left: 20px;
    color: $bandsite-silver;
    padding: 1rem;
    font-size: $fontsize-xxxtasml;

    &--alignment {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  input {
    width: 40vw;
    height: 2rem;
  }

  button {
    width: 8rem;
    background-color: $bandsite-dark_black;
    margin: 1rem 0 1rem 75%;
    color: $bandsite-white;
    border-radius: 10%;
  }

  .hero {
    width: 100vw;
    height: auto;
    margin-bottom: 24px;
    &__image {
      background-image: url(../assets/Images/hero-bio.jpg);
      background-size: cover;
      width: 100%;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &--bandname {
        color: $bandsite-white;
        padding-left: 30px;
        font-size: $fontsize-lg;
      }
    }
  }
  .allabout {
    // border-style: solid;
    padding: $padding-xsml;
    margin: 0 $margin-lrg 0 $margin-lrg;
    &__title {
      font-size: $fontsize-med;
      padding-left: $padding-lg;
    }
  }
  .imageandabout {
    // border-style: solid;
    width: 100%;
    height: 1000px;
    margin-top: 16px;
    // display: flex;
    // flex-direction: column;
    // align-content: center;
    // margin-right: $margin-sml;
    &__image {
      background-image: url(../assets/Images/band.jpg);
      background-size: cover;
      width: 75%;
      height: 75%;
      margin-bottom: $margin-sml;
      margin-left: auto;
      margin-right: auto;
    }
    &__summary {
      font-size: $fontsize-sml;
      font-weight: $fontweight-demi;
      margin-bottom: $margin-sml;
      // border-style: solid;
      width: 70vw;
    }
    &__quote {
      font-size: $fontsize-xtasml;
      font-style: $fontstyle-italic;
      font-weight: $fontweight-demi;
      // border-style: solid;
      width: 72vw;
      margin-bottom: $margin-sml;
      margin-left: 9rem;
    }
    &__title {
      margin-bottom: $margin-sml;
      font-size: $fontsize-sml;
      margin-top: $margin-sml;
      padding-left: 120px;
    }
    &__writeup {
      margin: 0 $margin-sml $margin-sml $margin-sml;
      // border-style: solid;
      line-height: 25px;
      height: 150px;
    }
    &__paragraphs {
      display: flex;
      font-size: $fontsize-med;
      padding: 0 100px $padding-sml 100px;
    }
  }
  .footer {
    background-color: $bandsite-dark_black;
    color: $bandsite-white;
    padding: $padding-xsml;
    height: 500px;
    &__copyright {
      font-size: $fontsize-xtasml;
      padding-top: $padding-xsml;
      margin-left: $margin-sml;
    }
    &__head {
      display: flex;
    }
    &__title {
      font-size: $fontsize-med;
      margin-left: 8.2vw;
    }
    &__logo {
      display: visable;
      position: relative;
      left: 75%;
      bottom: 60%;
    }
    // &__logo1 {
    //   display: visable;
    // }
  }
  .social {
    display: flex;
    // border-style: solid;
    // border-color: white;
    padding-top: 20px;
    margin-left: 45px;
    &__image {
      width: 20px;
      height: 20px;
    }
  }
  .contact {
    color: $bandsite-white;
    padding: $padding-xsml 0 $padding-xsml 0;
    display: flex;
    justify-content: center;
    &__list {
      list-style: none;
      &--copyright {
        margin-left: 7vw;
        list-style: none;
      }
    }
    &__info {
      font-size: $fontsize-xtasml;
      display: flex;
      justify-content: center;
      align-items: center;

      // flex-direction: column;
      padding: $padding-xsml;
      // border-style: solid;
      border-color: white;
      width: 400px;
      // height: 50px;
    }
    &__details {
      padding-bottom: $padding-med;
      font-size: $fontsize-xtasml;
    }
    &--name-job {
      font-weight: $fontweight-bold;
      padding-bottom: $padding-xsml;
      font-size: $fontsize-sml;
    }
  }
}
