*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: avenir-next-bold;
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: avenir-next-demi;
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
}
* {
  font-family: avenir-next-regular;
}

@media (min-width: 320px) {
  .section1 {
    width: 100vw;
  }

  .header {
    background-color: #323232;
    width: 100%;
    height: 82px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .header__logo2 {
    display: visable;
  }
  .header__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .header__item {
    color: #ffffff;
    padding: 1rem;
    font-size: 1.5rem;
    font-size: 1.5rem;
  }
  .header__links {
    display: flex;
    justify-content: space-evenly;
    width: 320px;
  }
  .header__links--styles {
    text-decoration: none;
  }
  .header__links--logo {
    display: flex;
    align-items: center;
  }
  .header__item--border {
    color: #ffffff;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 3px solid white;
    font-size: 1.5rem;
  }

  .hero {
    width: 100vw;
    height: auto;
    margin-bottom: 24px;
  }
  .hero__image {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
  }
  .hero__image--bandname {
    color: #ffffff;
    padding-left: 16px;
  }

  .allabout {
    padding: 0 0 0 0;
  }
  .allabout__title {
    padding: 12px;
    padding-left: 15px;
  }

  .imageandabout {
    width: 100%;
    height: 75%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
  }
  .imageandabout__summary {
    font-size: 0.875rem;
    margin-bottom: 16px;
    width: 90vw;
  }
  .imageandabout__quote {
    font-size: 0.875rem;
    font-style: avenir-next-demi;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: 1rem;
  }
  .imageandabout__title {
    margin-top: 3rem;
    margin-right: auto;
    margin-left: 1rem;
  }
  .imageandabout__writeup {
    margin-bottom: 16px;
    font-size: 0.8125rem;
    line-height: 20px;
  }
  .imageandabout__paragraphs {
    margin: 1rem;
  }

  .photogall {
    background-color: #fafafa;
  }
  .photogall__title {
    margin-left: 25px;
  }
  .photogall__images {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .photogall__image {
    padding: 1rem;
    width: 90%;
  }

  .comments {
    display: flex;
    border-bottom: solid 1px #afafaf;
  }
  .comments__form {
    display: flex;
    flex-direction: column;
  }
  .comments__selfie {
    position: relative;
    top: 35px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  button {
    width: 16.1rem;
    background-color: #323232;
    margin: 1rem 0 1rem 0;
    color: #ffffff;
  }

  .comment-display {
    padding-left: 0.5rem;
  }
  .comment-display--orientation {
    display: flex;
    justify-content: space-between;
  }
  .comment-display--name {
    padding: 0.5rem;
    font-weight: bold;
  }
  .comment-display--date {
    padding: 0.5rem;
    color: #afafaf;
  }
  .comment-display--comment {
    padding: 0.5rem;
    border-bottom: solid #afafaf 1px;
  }

  .newComment__name {
    padding: 0.5rem;
    font-weight: bold;
  }

  .newComment__date {
    padding: 0.5rem;
    color: #afafaf;
  }

  .newComment__comment {
    padding: 0.5rem;
    border-bottom: solid #afafaf 1px;
  }

  .commentform__contents {
    padding-left: 20px;
    color: #afafaf;
    padding: 1rem;
    font-size: 0.75rem;
  }
  .commentform__contents--alignment {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  input {
    width: 80vw;
    height: 2rem;
  }

  .footer {
    background-color: #323232;
    color: #ffffff;
    padding: 16px;
  }
  .footer__copyright {
    font-size: 0.8125rem;
    padding-top: 16px;
  }
  .footer__logo1 {
    display: none;
  }
  .footer__title {
    margin: 16px 0 16px 0;
  }

  .social {
    display: flex;
  }
  .social__image {
    width: 15px;
    height: 15px;
    padding: 5px;
  }

  .contact {
    color: #ffffff;
    font-size: 0.8125rem;
    padding: 16px 0 16px 0;
  }
  .contact__info {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }
  .contact__info--name-job {
    font-weight: 700;
    padding-bottom: 16px;
  }
  .contact__list {
    list-style: none;
  }
  .contact__list--copyright {
    list-style: none;
  }
}
@media (min-width: 768px) {
  h3 {
    padding-left: 5rem;
    font-size: 2rem;
  }

  .section1 {
    width: 100vw;
  }

  .header {
    background-color: #323232;
    width: 100%;
    height: auto;
    display: flex;
  }
  .header__items {
    display: flex;
    justify-content: flex-start;
    margin-left: 10vw;
  }
  .header__logo2 {
    padding-right: 16px;
  }
  .header__item {
    color: #ffffff;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .header__links--logo {
    display: flex;
    align-items: center;
  }
  .header--title {
    color: #ffffff;
    font-size: 3.75rem;
    padding-left: 25%;
    padding-right: 25%;
  }

  .photogall {
    width: 100vw;
    background-color: #fafafa;
    margin: 24px 0 24px 0;
  }
  .photogall__title {
    font-size: 2.25rem;
    padding: 24px 0 24px 0;
  }
  .photogall__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 0 24px 0;
  }
  .photogall__image {
    padding: 1rem;
    width: 25%;
  }

  .comments {
    display: flex;
    border-bottom: solid 1px #afafaf;
    margin: 0 5rem 0 5rem;
  }
  .comments__form {
    display: flex;
    flex-direction: column;
  }
  .comments__selfie {
    position: relative;
    top: 35px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  .comment-display {
    padding-left: 0.5rem;
  }
  .comment-display--orientation {
    display: flex;
    justify-content: space-between;
  }
  .comment-display--name {
    padding-left: 6rem;
    font-weight: bold;
  }
  .comment-display--date {
    padding-right: 6rem;
    color: #afafaf;
  }
  .comment-display--comment {
    margin: 0 6rem 0 6rem;
    border-bottom: solid #afafaf 1px;
  }

  .newComment__name {
    padding-left: 6rem;
    font-weight: bold;
  }

  .newComment__date {
    padding-right: 6rem;
    color: #afafaf;
  }

  .newComment__comment {
    padding: 0.5rem;
    border-bottom: solid #afafaf 1px;
  }

  .commentform__contents {
    padding-left: 20px;
    color: #afafaf;
    padding: 1rem;
    font-size: 0.75rem;
  }
  .commentform__contents--alignment {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  input {
    width: 70vw;
    height: 2rem;
  }

  button {
    width: 8rem;
    background-color: #323232;
    margin: 1rem 0 1rem 75%;
    color: #ffffff;
    border-radius: 10%;
  }

  .hero {
    width: 100vw;
    height: auto;
    margin-bottom: 24px;
  }
  .hero__image {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero__image--bandname {
    color: #ffffff;
    padding-left: 30px;
    font-size: 3.75rem;
  }

  .allabout {
    padding: 16px;
    margin: 0 24px 0 24px;
  }
  .allabout__title {
    font-size: 2.25rem;
    padding-left: 56px;
  }

  .imageandabout {
    width: 100%;
    height: 1000px;
    margin-top: 16px;
  }
  .imageandabout__image {
    background-image: url(../assets/Images/band.jpg);
    background-size: cover;
    width: 75%;
    height: 75%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .imageandabout__summary {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    width: 65vw;
  }
  .imageandabout__quote {
    font-size: 0.875rem;
    font-style: avenir-next-demi;
    font-weight: 600;
    width: 72vw;
    margin-bottom: 16px;
    margin-left: 5.5rem;
  }
  .imageandabout__title {
    margin-bottom: 16px;
    font-size: 1.5rem;
    margin-top: 16px;
    padding-left: 70px;
  }
  .imageandabout__writeup {
    margin: 0 16px 16px 16px;
    line-height: 25px;
    height: 300px;
  }
  .imageandabout__paragraphs {
    display: flex;
    font-size: 2.25rem;
    padding: 0 50px 24px 50px;
  }

  .footer {
    background-color: #323232;
    color: #ffffff;
    padding: 16px;
    height: 400px;
  }
  .footer__copyright {
    font-size: 0.875rem;
    padding-top: 16px;
  }
  .footer__head {
    display: flex;
  }
  .footer__title {
    font-size: 2.25rem;
    margin-left: 2vw;
  }
  .footer__logo {
    display: visable;
    position: relative;
    left: 69%;
    bottom: 77%;
  }
  .footer__logo1 {
    display: visable;
  }

  .social {
    display: flex;
    padding-top: 20px;
    margin-left: 45px;
  }
  .social__image {
    width: 20px;
    height: 20px;
  }

  .contact {
    color: #ffffff;
    padding: 16px 0 16px 0;
    display: flex;
  }
  .contact__list {
    list-style: none;
  }
  .contact__list--copyright {
    margin-left: vw;
    list-style: none;
  }
  .contact__info {
    font-size: 0.875rem;
    display: flex;
    padding: 16px;
    border-color: white;
    width: 400px;
    height: 200px;
  }
  .contact__details {
    padding-bottom: 40px;
    font-size: 0.875rem;
  }
  .contact--name-job {
    font-weight: 700;
    padding-bottom: 16px;
    font-size: 1.5rem;
  }
}
@media (min-width: 1279px) {
  .header3 {
    padding-left: 9rem;
  }

  .section1 {
    width: 100vw;
  }

  .header {
    background-color: #323232;
    width: 100%;
    height: auto;
    display: flex;
  }
  .header__items {
    display: flex;
    justify-content: flex-start;
    margin-left: 10vw;
  }
  .header__logo2 {
    padding-right: 16px;
  }
  .header__item {
    color: #ffffff;
    padding: 1rem;
    font-size: 1rem;
  }
  .header__item--border {
    font-size: 1rem;
  }
  .header--title {
    color: #ffffff;
    font-size: 3.75rem;
    padding-left: 25%;
    padding-right: 25%;
  }
  .header__links--styles {
    text-decoration: none;
    font-size: 1rem;
  }

  .photogall {
    width: 100vw;
    background-color: #fafafa;
    margin: 24px;
  }
  .photogall__title {
    font-size: 2.25rem;
    padding: 24px 0 24px 0;
    margin-left: 8rem;
  }
  .photogall__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px 0 16px 0;
  }

  .comments {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #afafaf;
    margin: 0 27rem 0 21rem;
  }
  .comments__form {
    display: flex;
    flex-direction: column;
  }
  .comments__selfie {
    position: relative;
    top: 35px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  .comment-display {
    padding-left: 0.5rem;
  }
  .comment-display--orientation {
    display: flex;
    justify-content: space-between;
  }
  .comment-display--name {
    padding-left: 21rem;
    font-weight: bold;
  }
  .comment-display--date {
    padding-right: 27rem;
    color: #afafaf;
  }
  .comment-display--comment {
    margin: 0 27rem 0 21rem;
    border-bottom: solid #afafaf 1px;
  }

  .newComment__name {
    padding-left: 21rem;
    font-weight: bold;
  }

  .newComment__date {
    padding-right: 27rem;
    color: #afafaf;
  }

  .newComment__comment {
    margin: 0 27rem 0 21rem;
    border-bottom: solid #afafaf 1px;
  }

  .commentform__contents {
    padding-left: 20px;
    color: #afafaf;
    padding: 1rem;
    font-size: 0.75rem;
  }
  .commentform__contents--alignment {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #newcomment {
    width: 40vw;
    height: 5rem;
  }

  input {
    width: 40vw;
    height: 2rem;
  }

  button {
    width: 8rem;
    height: 2rem;
    background-color: #323232;
    margin: 1rem 0 1rem 75%;
    color: #ffffff;
    border-radius: 10%;
  }

  .hero {
    width: 100vw;
    height: auto;
    margin-bottom: 24px;
  }
  .hero__image {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero__image--bandname {
    color: #ffffff;
    padding-left: 7rem;
    font-size: 3.75rem;
  }

  .allabout {
    padding: 16px;
    margin: 0 24px 0 24px;
  }
  .allabout__title {
    font-size: 2.25rem;
    padding-left: 56px;
  }

  .imageandabout {
    width: 100%;
    height: 1000px;
    margin-top: 16px;
  }
  .imageandabout__image {
    background-image: url(../assets/Images/band.jpg);
    background-size: cover;
    width: 75%;
    height: 75%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .imageandabout__summary {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
    width: 715px;
    margin-right: 200px;
  }
  .imageandabout__quote {
    font-size: 0.875rem;
    font-style: avenir-next-demi;
    font-weight: 600;
    width: 72vw;
    margin-bottom: 16px;
    margin-left: 9rem;
  }
  .imageandabout__title {
    margin-bottom: 16px;
    font-size: 1.5rem;
    margin-top: 16px;
    padding-left: 120px;
  }
  .imageandabout__writeup {
    margin: 0 16px 16px 16px;
    line-height: 25px;
    height: 150px;
  }
  .imageandabout__paragraphs {
    display: flex;
    font-size: 2.25rem;
    padding: 0 100px 24px 100px;
  }

  .footer {
    background-color: #323232;
    color: #ffffff;
    padding: 16px;
    height: 500px;
  }
  .footer__copyright {
    font-size: 0.875rem;
    padding-top: 16px;
    margin-left: 16px;
  }
  .footer__head {
    display: flex;
  }
  .footer__title {
    font-size: 2.25rem;
    margin-left: 8.2vw;
  }
  .footer__logo {
    display: visable;
    position: relative;
    left: 75%;
    bottom: 60%;
  }

  .social {
    display: flex;
    padding-top: 20px;
    margin-left: 45px;
  }
  .social__image {
    width: 20px;
    height: 20px;
  }

  .contact {
    color: #ffffff;
    padding: 16px 0 16px 0;
    display: flex;
    justify-content: center;
  }
  .contact__list {
    list-style: none;
  }
  .contact__list--copyright {
    margin-left: 7vw;
    list-style: none;
  }
  .contact__info {
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-color: white;
    width: 400px;
  }
  .contact__details {
    padding-bottom: 40px;
    font-size: 0.875rem;
  }
  .contact--name-job {
    font-weight: 700;
    padding-bottom: 16px;
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=bio.css.map */