// Font Sizes
// 60px
$fontsize-lg: 3.75rem;
// 36px
$fontsize-med: 2.25rem;
// 24px
$fontsize-sml: 1.5rem;
// 14px
$fontsize-xtasml: 0.875rem;
// 13px
$fontsize-xxtasml: 0.8125rem;
// 12px
$fontsize-xxxtasml: 0.75rem;
// 10px
$fontsize-xxxxtasml: 0.625rem;

// Line Heights
$lineheight-lg: 68px;
$lineheight-medlrg: 44px;
$lineheight-med: 32px;
$lineheight-smlmed: 22px;
$lineheight-sml: 20px;
$lineheight-xsmal: 18px;

// Font Weights
$fontweight-bold: 700;
$fontweight-demi: 600;
$fontweight-reg: 400;

// Font Style
$fontstyle-reg: regluar;
$fontstyle-italic: italic;

// Colors
$bandsite-black: #000000;
$bandsite-silver: #afafaf;
$bandsite-white: #ffffff;
$bandsite-dark_black: #323232;
$banksiee-mercury: #e1e1e1;
$bandsite-alabaster: #fafafa;

// Padding
$padding-xxlg: 80px;
$padding-xl: 64px;
$padding-lg: 56px;
$padding-medlg: 48px;
$padding-med: 40px;
$padding-smlmed: 32px;
$padding-sml: 24px;
$padding-xsml: 16px;
$padding-xxsml: 8px;
$padding-xxxsml: 4;

// Margins
$margin-sml: 16px;
$margin-lrg: 24px;

// Photo Gallary Heights
$tablet-image-height: 15vh;
$tablet-image-width: 25vh;
$desktop-image-height: 20vh;
$desktop-image-width: 35vh;

// Mixins
@mixin mobile-imagesize {
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 30vh;
  margin: $margin-sml 0px $margin-sml 0;
}

@mixin tablet-imagesize {
  background-size: cover;
  background-repeat: no-repeat;
  height: $tablet-image-height;
  width: $tablet-image-width;
  margin: $margin-sml 32px $margin-sml 0;
}

@mixin desktop-imagsize {
  background-size: cover;
  background-repeat: no-repeat;
  height: $desktop-image-height;
  width: $desktop-image-width;
  margin: $margin-sml 32px $margin-sml 0;
}

@media (min-width: 320px) {
  .section1 {
    width: 100vw;
  }

  .header {
    background-color: $bandsite-dark_black;
    width: 100%;
    height: 82px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    &__logo2 {
      display: visable;
    }
    &__items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__item {
      color: $bandsite-white;
      // padding: 1rem;
      font-size: $fontsize-sml;
      // border: 3px solid white;
      font-size: $fontsize-sml;
      margin: 0;
      padding-top: 0.9rem;
    }
    &__links {
      display: flex;
      justify-content: space-evenly;
      // border-style: solid;
      // border-color: red;
      width: 320px;
      &--styles {
        text-decoration: none;
      }
      &--logo {
        display: flex;
        align-items: center;
      }
    }
    &__item--border {
      color: $bandsite-white;
      font-size: $fontsize-sml;
      border-bottom: 3px solid white;
      font-size: $fontsize-sml;
      padding: 1rem;
      margin: 0;
    }
  }
  // padding-left: 20%;

  .hero {
    width: 100vw;
    height: auto;
    margin-bottom: 24px;
    &__image {
      background-image: url(../assets/Images/hero-shows.jpg);
      background-size: cover;
      width: 100%;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 12px;
      color: $bandsite-white;
    }
    &__albuminfo {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin-left: 1rem;
      list-style: none;
      &--alignment {
        padding: 0;
        list-style: none;
      }
    }
    &--bandname {
      color: $bandsite-white;
    }
    &__item {
      padding: $padding-xxxsml;
    }
  }

  #container {
    font-weight: $fontweight-reg;
    padding: 1rem;
  }

  h3 {
    padding: 0.5rem;
    margin: 0;
  }

  .shows {
    // padding: 5rem;
    &__title {
      color: $bandsite-silver;
      font-size: 0.8rem;
    }
    &__info {
      padding: 1rem;
    }
  }

  button {
    background-color: $bandsite-dark_black;
    color: $bandsite-white;
    width: 90%;
    border-radius: 10%;
  }
  .allabout {
    padding: 0 0 0 0;
    &__title {
      padding: 12px;
      padding-left: 15px;
    }
    &__shows {
      padding: $padding-sml;
      list-style: none;
      &--title {
        display: none;
      }
    }
    &__itemtitle {
      padding: $padding-xxsml;
      color: $bandsite-silver;
    }
    &__item {
      padding: $padding-xxsml;
      font-weight: $fontweight-bold;
    }
    &__button {
      padding: $padding-xsml;
      width: 100%;
      background-color: $bandsite-dark_black;
      color: $bandsite-white;
      border-radius: 10%;
    }
  }

  .footer {
    background-color: $bandsite-dark_black;
    color: $bandsite-white;
    padding: $padding-xsml;
    &__copyright {
      font-size: $fontsize-xxtasml;
      padding-top: $padding-xsml;
    }
    &__logo1 {
      display: none;
    }
    &__title {
      margin: $margin-sml 0 $margin-sml 0;
    }
  }

  .social {
    display: flex;
    &__image {
      width: 15px;
      height: 15px;
      padding: 5px;
    }
  }

  .contact {
    color: $bandsite-white;
    font-size: $fontsize-xxtasml;
    padding: $padding-xsml 0 $padding-xsml 0;
    &__info {
      display: flex;
      flex-direction: column;
      padding-bottom: $padding-xsml;
      &--name-job {
        font-weight: $fontweight-bold;
        padding-bottom: $padding-xsml;
      }
    }
    &__list {
      list-style: none;
      padding-left: 0px;
      &--copyright {
        list-style: none;
        padding-left: 0px;
      }
    }
  }
}

// This above is the terminator for tablet

@media (min-width: 768px) {
  .section1 {
    width: 100vw;
  }
  .header {
    background-color: $bandsite-dark_black;
    width: 100%;
    height: auto;
    display: flex;
    // justify-content: flex-start;
    &__items {
      display: flex;
      justify-content: flex-start;
      margin-left: 10vw;
    }
    &__logo2 {
      padding-right: 16px;
    }

    &__item {
      color: $bandsite-white;
      padding: 1rem;
      font-size: $fontsize-sml;
      // padding-left: 20%;
    }
    &__links--logo {
      display: flex;
      align-items: center;
    }
    &--title {
      color: $bandsite-white;
      font-size: $fontsize-lg;
      padding-left: 25%;
      padding-right: 25%;
    }
  }
  .hero {
    width: 100vw;
    height: auto;
    margin-bottom: 24px;
    &__image {
      background-image: url(../assets/Images/hero-shows.jpg);
      background-size: cover;
      width: 100%;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 12px;
      color: $bandsite-white;
      &--bandname {
        color: $bandsite-white;
        margin: 0;
      }
    }
    &__albuminfo {
      padding: 0;
      &--alignment {
        display: flex;
        flex-direction: column;
      }
    }
    &__item {
      padding: 1rem;
      width: 25rem;
    }
  }

  iframe {
    height: 15rem;
    width: 30rem;
  }

  .shows {
    display: flex;
    justify-content: center;
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 5rem 0 5rem;
    }
    &__title {
      display: none;
    }
    &__button {
      width: 8rem;
      height: 2rem;
    }
  }

  h3 {
    margin-left: 4.5rem;
  }

  .footer {
    background-color: $bandsite-dark_black;
    color: $bandsite-white;
    padding: $padding-xsml;
    // height: 400px;
    &__copyright {
      font-size: $fontsize-xtasml;
      padding-top: $padding-xsml;
    }
    &__head {
      display: flex;
    }
    &__title {
      font-size: $fontsize-med;
      margin-left: 2vw;
    }
    &__logo {
      display: visable;
      position: relative;
      bottom: 77%;
    }
    &__logo1 {
      display: none;
    }
  }
  .social {
    display: flex;
    padding-top: 20px;
    margin-left: 45px;
    &__image {
      width: 20px;
      height: 20px;
    }
  }
  .contact {
    color: $bandsite-white;
    padding: $padding-xsml 0 $padding-xsml 0;
    display: flex;
    &__list {
      list-style: none;
      &--copyright {
        margin-left: vw;
        list-style: none;
      }
    }
    &__info {
      font-size: $fontsize-xtasml;
      display: flex;
      // flex-direction: column;
      padding: $padding-xsml;
      // border-style: solid;
      border-color: white;
      width: 400px;
      height: 200px;
    }
    &__details {
      padding-bottom: $padding-med;
      font-size: $fontsize-xtasml;
    }
    &--name-job {
      font-weight: $fontweight-bold;
      padding-bottom: $padding-xsml;
      font-size: $fontsize-sml;
    }
  }
}
// This above is the terminator for tablet

@media (min-width: 1279px) {
  h3 {
    margin: 0;
    font-size: $fontsize-med;
  }

  .header {
    background-color: $bandsite-dark_black;
    width: 100%;
    height: auto;
    display: flex;

    &__logo2 {
      padding-right: 16px;
    }
    &__item {
      color: $bandsite-white;
      padding: 1rem;
      font-size: $fontsize-sml;
    }
  }
  .hero {
    &__image {
      background-image: url(../assets/Images/hero-shows.jpg);
      background-size: cover;
      width: 100%;
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__item {
      font-weight: $fontweight-bold;
      font-size: $fontsize-sml;
      width: 27rem;
      padding-left: 1rem;
      &--title {
        padding-left: 13%;
        font-size: $fontsize-sml;
        width: 27rem;
      }
    }

    &__albuminfo--alignment {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;
    }
  }
  .allabout {
    padding: $padding-xsml;
    margin: 0 $margin-lrg 0 $margin-lrg;
    &__title {
      font-size: $fontsize-med;
      padding-left: $padding-lg;
    }
  }

  .shows {
    &__button {
      width: 10rem;
      height: 2.5rem;
      margin: 1rem;
    }
  }

  .footer {
    background-color: $bandsite-dark_black;
    color: $bandsite-white;
    padding: $padding-xsml;
    height: 400px;
    &__copyright {
      font-size: $fontsize-xtasml;
      padding-top: $padding-xsml;
      margin-left: 2rem;
    }
    &__head {
      display: flex;
    }
    &__title {
      font-size: $fontsize-med;
      margin-left: 8vw;
    }
    &__logo {
      display: visable;
      position: relative;
      left: 90%;
      bottom: 75%;
    }
  }

  .social {
    display: flex;
    padding-top: 20px;
    margin-left: 45px;
    &__image {
      width: 20px;
      height: 20px;
    }
  }
  .contact {
    color: $bandsite-white;
    padding: $padding-xsml 0 $padding-xsml 0;
    display: flex;
    justify-content: center;
    &__list {
      list-style: none;
      &--copyright {
        margin-left: 7vw;
        list-style: none;
      }
    }
    &__info {
      font-size: $fontsize-xtasml;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $padding-xsml;
      border-color: white;
      width: 400px;
    }
    &__details {
      padding-bottom: $padding-med;
      font-size: $fontsize-xtasml;
    }
    &--name-job {
      font-weight: $fontweight-bold;
      padding-bottom: $padding-xsml;
      font-size: $fontsize-sml;
    }
  }
}
